* {
        font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif;
}

body {
    background-size: 100%;
}

.menu a {
        transition: 1s all;
        padding: 10px;
        background-color: transparent;
        text-decoration: none;
        text-decoration-color: transparent;
        color: white;
}

.menu {
        padding: 20px;
}

.menu a:hover {
        transition: 1s all;
        text-decoration: underline;
        text-decoration-thickness: 8px;
        text-decoration-color: green;
        color: rgb(179, 165, 165);
}


.taaimg {
        width: 850px;
        height: 500px;
        margin-left: 230px;
        border: groove;
        border-color: black;
}

.taatext {
        color: white;
        margin-left: 550px;
        margin-top: 300px;
        color: greenyellow;
        text-decoration: underline;
}